* {
    padding: 0;
    margin: 0;
}

main{
    width: 80vw;

    padding: 20px;
    margin: 55px auto 0 auto;
}


.InfoHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  gap: 20px;

  padding: 20px;
}


.TopWrapper{
    display: grid;
    grid-template-columns: 5fr 2fr;
    
}

main > div{
    padding: 20px;
}

.StudentInfo{
    padding: 0px 10px;
}

.TopStudentInfo{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 30px;
}

.BottomButtons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.BottomButtons button{
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.form__group {
    position: relative;
    padding: 15px 0;
    margin-top: 10px;
    width: 100%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 1rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: black;
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #11998e;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e,#38ef7d);
    border-image-slice: 1;
  }
  /* reset input */
  .form__field{
    &:required,&:invalid { box-shadow:none; }
  }

  .form__field:not(:placeholder-shown) {
    border-color: #00A1DE; /* Change the border color to blue */
}



@media (max-width: 800px) {
  .TopWrapper{
      display: block;
  }

}
